html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #F2F2F2; }

.container {
  width: 1185px;
  margin: 0 auto; }

.d_flex {
  display: flex;
  align-items: center; }

.header {
  position: absolute;
  width: 100%;
  padding: 30px 0 0; }
  .header .container {
    width: 1460px; }
  .header .d_flex {
    justify-content: space-between; }

.btn {
  background-color: #FFFFFF;
  color: #57B3FE;
  padding: 20px 50px;
  border-radius: 60px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s;
  font-size: 14px; }
  .btn:hover {
    background-color: rgba(80, 62, 157, 0.7);
    color: #FFFFFF; }

.First_section {
  padding: 200px 0 184px;
  background: url("../images/HERO.png") no-repeat center/cover;
  background-position-y: -543px;
  color: #FFFFFF; }
  .First_section .container {
    display: flex;
    justify-content: center; }
  .First_section .d_flex {
    display: inline-block;
    text-align: center; }
  .First_section h1 {
    font-size: 68px;
    line-height: 81px;
    margin-bottom: 8px; }
  .First_section h3 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    opacity: 80%;
    margin-bottom: 41px; }
  .First_section .btn {
    margin-bottom: 90px; }
  .First_section .img_dashboard {
    width: 1185px; }
    .First_section .img_dashboard img:first-child {
      width: 100%; }

.Features {
  padding: 0px 0px 184px;
  background: url("../images/BG-2.png") no-repeat center/cover;
  background-position-y: 0px;
  background-size: 129%; }
  .Features h3 {
    margin-bottom: 24px;
    color: #00A077;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    opacity: 50%;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
  .Features h2 {
    margin-bottom: 32px;
    color: #3B3E43;
    font-weight: 500;
    line-height: 58px;
    font-size: 48px;
    max-width: 528px; }
  .Features .feature_box {
    display: flex;
    flex-wrap: wrap; }
    .Features .feature_box .box {
      margin-right: 25px;
      margin-bottom: 25px;
      flex-wrap: wrap;
      max-width: 370px;
      padding: 61px 23px 74px 41px;
      background-color: #FFFFFF;
      border-radius: 15px; }
      .Features .feature_box .box h4 {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #3B3E43; }
      .Features .feature_box .box p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #595E64; }
        .Features .feature_box .box p span {
          font-weight: 700; }
      .Features .feature_box .box .background_icon, .Features .feature_box .box .background_icon-2, .Features .feature_box .box .background_icon-3, .Features .feature_box .box .background_icon-4, .Features .feature_box .box .background_icon-5, .Features .feature_box .box .background_icon-6, .Features .feature_box .box .Our_process .process-box .article div:first-child, .Our_process .process-box .article .Features .feature_box .box div:first-child, .Features .feature_box .box .Our_process .process-box .article .background_icon-8, .Our_process .process-box .article .Features .feature_box .box .background_icon-8, .Features .feature_box .box .Our_process .process-box .article .background_icon-9, .Our_process .process-box .article .Features .feature_box .box .background_icon-9 {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: #FFE7DB;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 31px; }
      .Features .feature_box .box .background_icon-2 {
        background-color: #E7F2EF; }
      .Features .feature_box .box .background_icon-3 {
        background-color: #FAF3D8; }
      .Features .feature_box .box .background_icon-4 {
        background-color: #C0F2EF; }
      .Features .feature_box .box .background_icon-5 {
        background-color: #EDE7F2; }
      .Features .feature_box .box .background_icon-6 {
        background-color: #D8F0FA; }
      .Features .feature_box .box .fa-solid {
        font-size: 24px;
        color: #FEAD86; }
      .Features .feature_box .box:nth-child(3) {
        margin-right: 0; }
      .Features .feature_box .box:nth-child(6) {
        margin-right: 0; }
      .Features .feature_box .box h4 {
        margin-bottom: 15px; }

.Our_process {
  padding: 194px 0 184px;
  background: url("../images/BG-3.jpg") no-repeat center/cover; }
  .Our_process .container {
    text-align: center; }
  .Our_process h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 50%;
    margin-bottom: 14px; }
  .Our_process h2 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 24px; }
  .Our_process h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 36px;
    max-width: 718px;
    display: inline-block; }
  .Our_process .process-box {
    margin-bottom: 34px;
    padding: 32px 0 22px;
    max-width: 1170px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center; }
    .Our_process .process-box .w-100 {
      width: 479px; }
      .Our_process .process-box .w-100 img {
        width: 100%; }
    .Our_process .process-box .article {
      max-width: 530px;
      display: inline-block;
      text-align: start; }
      .Our_process .process-box .article .background_icon, .Our_process .process-box .article .Features .feature_box .box .background_icon-2, .Features .feature_box .box .Our_process .process-box .article .background_icon-2, .Our_process .process-box .article .Features .feature_box .box .background_icon-3, .Features .feature_box .box .Our_process .process-box .article .background_icon-3, .Our_process .process-box .article .Features .feature_box .box .background_icon-4, .Features .feature_box .box .Our_process .process-box .article .background_icon-4, .Our_process .process-box .article .Features .feature_box .box .background_icon-5, .Features .feature_box .box .Our_process .process-box .article .background_icon-5, .Our_process .process-box .article .Features .feature_box .box .background_icon-6, .Features .feature_box .box .Our_process .process-box .article .background_icon-6, .Our_process .process-box .article div:first-child, .Our_process .process-box .article .background_icon-8, .Our_process .process-box .article .background_icon-9 {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: #FFE7DB;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 31px; }
      .Our_process .process-box .article h5 {
        color: #3B3E43;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px; }
      .Our_process .process-box .article p {
        color: #595E64;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; }
      .Our_process .process-box .article div:first-child {
        background-color: #DAE6FF;
        margin-bottom: 20px; }
      .Our_process .process-box .article .background_icon-8 {
        background-color: #E9E5FF;
        margin-bottom: 20px; }
      .Our_process .process-box .article .background_icon-9 {
        background-color: #CEEDFF;
        margin-bottom: 20px; }

.Brands {
  padding: 184px 0 184px; }
  .Brands p {
    max-width: 381px;
    display: inline-block;
    color: #424A4D;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px; }
  .Brands .container {
    text-align: center; }
  .Brands h4 {
    font-weight: 700;
    font-size: 12px;
    color: #00A077;
    opacity: 50%;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
  .Brands h3 {
    font-weight: 500;
    font-size: 48px;
    color: #3B3E43;
    max-width: 897px;
    display: inline-block;
    margin-bottom: 32px; }
  .Brands .d_flex {
    margin-bottom: 40px;
    flex-wrap: wrap; }
    .Brands .d_flex div {
      margin-right: 56px;
      margin-left: 56px; }
    .Brands .d_flex div:first-child {
      margin-left: 0; }
    .Brands .d_flex div:nth-child(5) {
      margin-right: 0; }
    .Brands .d_flex div:nth-child(6) {
      margin-left: 0; }
    .Brands .d_flex div:last-child {
      margin-right: 0; }

.Start_with_us {
  color: #FFFFFF;
  padding: 151px 0 143px;
  background: url("../images/BG-4.jpg") no-repeat center/cover; }
  .Start_with_us .d_flex {
    justify-content: space-between; }
    .Start_with_us .d_flex div:first-child {
      max-width: 390px; }
      .Start_with_us .d_flex div:first-child h4 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 12px;
        opacity: 50%;
        letter-spacing: 0.15em;
        text-transform: uppercase; }
      .Start_with_us .d_flex div:first-child h2 {
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 24px; }
      .Start_with_us .d_flex div:first-child p {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 30px; }
      .Start_with_us .d_flex div:first-child a {
        display: inline-block; }
    .Start_with_us .d_flex div:last-child {
      width: 624px; }
      .Start_with_us .d_flex div:last-child img {
        width: 100%; }

.footer {
  padding: 84px 0 35px;
  background-color: #0D0D0D; }
  .footer hr {
    opacity: 35%;
    margin-bottom: 28px; }
  .footer span {
    color: #FFFFFF;
    opacity: 80%;
    font-weight: 400; }
  .footer .d_flex {
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer .socials a {
    margin-right: 10px;
    margin-left: 10px; }
  .footer .socials a:first-child {
    margin-left: 0; }
  .footer .socials a:last-child {
    margin-right: 0; }
  .footer nav {
    overflow: initial;
    height: initial;
    width: initial;
    position: initial; }
    .footer nav ul {
      display: flex; }
      .footer nav ul li {
        margin-left: 16px;
        margin-right: 16px; }
        .footer nav ul li a {
          color: rgba(255, 255, 255, 0.8);
          transition: 0.2s; }
          .footer nav ul li a:hover {
            color: #FFFFFF; }
        .footer nav ul li:first-child {
          margin-left: 0; }
        .footer nav ul li:last-child {
          margin-right: 0; }
  .footer .under_footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .under_footer a {
      color: #FFFFFF;
      opacity: 80%;
      transition: 0.2s; }
      .footer .under_footer a:hover {
        opacity: 100%; }
    .footer .under_footer a:last-child {
      margin-left: 24px; }

/*# sourceMappingURL=main.css.map */
